body {
    font-family: Arial, sans-serif;
    background-color: #d0dcdc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    background: rgb(168, 197, 203);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

h1 {
    color: black;
}

p {
    font-size: 14px;
    color: #110909;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, select, textarea {
    padding: 18px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #494bac;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}